### Tuples

#### Tuples usados como registros

Una de las características más potetentes de las tuplas es que se pueden desenpaquetar en variables, haciendo así que sean un registro con diferentes valores almacenados.

In [1]:
movie, year, director = ('Interstellar', 2014, 'Christopher Nolan')
print('Movie:\t\t%s\nDirected by:\t%s\nReleased in:\t%s' % (movie, director, year))

Movie:		Interstellar
Directed by:	Christopher Nolan
Released in:	2014

In [2]:
movie, *rest = ('Django Unchairned', 2012, 'Quentin Tarantino')
print(movie)
print(rest)  # con el comando '*' se puede almacenar el resto de valores

Django Unchairned
[2012, 'Quentin Tarantino']

Uno de los usos más elegantes que se puede realizar con el desempaquetamiento de tuplas es el de intercambiar valores entre dos variables.

In [3]:
a = 1
b = 0
print('Valor original de las variables:\na = %s\nb = %s' % (a, b))
a, b = b, a  # unpacking
print('Valor tras intercambiar sus valores:\na = %s\nb = %s' % (a, b))

Valor original de las variables:
a = 1
b = 0
Valor tras intercambiar sus valores:
a = 0
b = 1

Otro ejemplo del desempaquetamiento es el de pasar una varible que almacene una tupla como parámetros de una función.

In [4]:
def my_sum(num_1, num_2):
    return num_1 + num_2

numbers = (10, 5)
my_sum(*numbers)

15

Y también se puede realizar a la inversa, desempequetar los valores que devuelva un método para almacenarlos en las variables deseadas.

In [12]:
def split_name_and_surmanes(raw_name):
    return map(lambda r: r.strip(), raw_name.split(','))
name, surname = split_name_and_surmanes('Sergio, Díaz Martínez')
name, surname

('Sergio', 'Díaz Martínez')

Es posible pasar parámetros extra a los métodos, los cuáles se almacenarán en la variable que contenga el símbolo '*', y dicha variable será una tupla.

In [14]:
def my_sum(num_1, num_2, *args):
    print(type(args), args)
    numbers = [num_1, num_2]
    numbers.extend(args)
    return sum(numbers)

my_sum(1, 2, 4, 5, 6)

<class 'tuple'> (4, 5, 6)

18

#### Named Tuples
collections.nameduple está pensando para usar las tuplas como registros, con la comodidad de poder referencia cada valor del registro con un nombre. Además tiene la ventaja que usa la misma cantidad de memoria que las tuplas tradicionales.

In [32]:
from collections import namedtuple
Movie = namedtuple('Movie', 'name director year')
interestellar = Movie('Interestellar', 'Christopher Nolan', 2014)
print('Name: %s\nDirector: %s\nYear: %s' % (
    interestellar.name,
    interestellar.director,
    interestellar.year
))

Name: Interestellar
Director: Christopher Nolan
Year: 2014

In [42]:
films = [
    Movie('Interestellar', 'Christopher Nolan', 2014),
    Movie('Django Unchairned', 'Quentin Tarantino', 2012),
    Movie('Inception', 'Christopher Nolan', 2010),
]

format_ = '{:20} | {:20} | {:6}'
film, director, year = map(lambda r: r.capitalize(), interestellar._fields)
print(format_.format(film, director, year))
for film in films:
    print(format_.format(film.name, film.director, film.year))

Name                 | Director             | Year
Interestellar        | Christopher Nolan    |   2014
Django Unchairned    | Quentin Tarantino    |   2012
Inception            | Christopher Nolan    |   2010

Es posble dejar preparado una tupla con los valores, para posteriormente crear la instancia con el método _make.

In [47]:
films_data = [
    ('Interestellar', 'Christopher Nolan', 2014),
    ('Django Unchairned', 'Quentin Tarantino', 2012),
    ('Inception', 'Christopher Nolan', 2010),
]

format_ = '{:20} | {:20} | {:6}'
film, director, year = map(lambda r: r.capitalize(), Movie._fields)
print(format_.format(film, director, year))
for film_data in films_data:
    film = Movie._make(film_data)  # nueva instancia
    print(format_.format(film.name, film.director, film.year))

Name                 | Director             | Year
Interestellar        | Christopher Nolan    |   2014
Django Unchairned    | Quentin Tarantino    |   2012
Inception            | Christopher Nolan    |   2010